body {
    font-family: Arial, sans-serif;
    background-color: #766f6f;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 50px;
}

h1 {
    color: #0a0101;
}

form.basic {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(222, 188, 188, 0.1);
    width: 300px;
}

.elem-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"] {
    background-color: #093564;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
